<div class="flex gap-2 max-h-48 py-4">
    <a href="{{ url }}" rel="bookmark"><img class="w-48" src="https://vz-480571ad-a3e.b-cdn.net/{{ video_id }}/preview.webp" alt="Game Preview thumbnail"></a>
    <h2 class="text-2xl"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
</div>
