<div class="">
    <div>
        <h2 class="text-md font-light">
            <img class="h-5 float-left pr-4" src="/themes/custom/football_theme/images/icons/helmet.png" alt=""><a class="" href="{{ url }}">{{ label }}</a>
        </h2>
    </div>
</div>
<div class="flex flex-wrap lg:flex-nowrap gap-2"><div class="md:w-1/2 lg:w-1/4"></div></div>
