<div style="position: relative; padding-top: 56.25%;">
    <iframe src="https://iframe.mediadelivery.net/embed/{{ library_id }}/{{ video_id }}"
            loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"
            allow="accelerometer; gyroscope; encrypted-media; picture-in-picture;" allowfullscreen="true">
    </iframe>
</div>

https://vz-480571ad-a3e.b-cdn.net/{{ video_id }}/preview.webp
